
.recipes {
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  padding: 100px 80px 215px 80px;
}

.recipes__title {
  color: white;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  color: white;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 438px;
}

.recipes__videos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-top: 80px;
}

.recipes__video-caption {
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.recipes__iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
  border: none;
}